config_files/tasks/0*.json
config_files/tasks/1*.json
config_files/tasks/2*.json
config_files/tasks/3*.json
config_files/tasks/4*.json
config_files/tasks/5*.json
config_files/tasks/6*.json
config_files/tasks/7*.json
config_files/tasks/8*.json
config_files/tasks/9*.json
config_files/tasks/test.json
config_files/tasks/test.raw.json
debug.png
.auth/*
*__pycache__*
.env
play-AgentOccam.txt
trash-AgentOccam.txt
.vscode/*
marked-AgentOccam.png
screenshot-AgentOccam.png
